$base-font: "Open Sans", Arial, Helvetica, sans-serif;
$padding-value: 20px;

$mobile-size: 415px;
$tablet-size: 768px;
$pc-size: 980px;

$headerBg-color: #000000;
$choice-color: #ffffff;
$figcap-color: #c2c2c2;
