$base-font: 'Open Sans', Arial, Helvetica, sans-serif;

$mobile-size: 415px;
$tablet-size: 768px;
$pc-size: 980px;
$ft-size: 20px;

$headerBg-color: #000000;
$choice-color: #ffffff;
$ft-color: #c2c2c2;
