@import 'reset';
@import 'variables';

@mixin tablet {
	@media (max-width: $pc-size) and (min-width: $mobile-size) {
		@content;
	}
}

@mixin pc {
	@media (min-width: $pc-size) {
		@content;
	}
}

@mixin flex-display {
	display: flex;
	justify-content: center;
}

* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 16px;
	font-size: 1.6rem;
	font-family: $base-font;
	min-height: 100vh;
	background-color: black;

	@include tablet {
		width: $tablet-size;
	}

	@include pc {
		min-width: $pc-size;
	}
}

/* Header */
.top-header {
	@include flex-display;
	@include pc {
		justify-content: flex-start;
		height: 93%;
	}
	flex-direction: row;
	height: 70%;

	background: $headerBg-color;
	.logo {
		height: 45px;
		height: 4.5rem;
		margin: 5px auto;
		margin: 0.5rem auto;
		@include pc {
			height: 60px;
			height: 6rem;
		}
	}

	.menu {
		@include flex-display;
		@include pc {
			flex-direction: row;
			justify-content: flex-start;
			height: 80px;
			height: 8rem;
		}
		flex-direction: column;
		align-items: center;
		text-align: center;
		padding-bottom: $ft-size;
		height: 60px;
		height: 6rem;
		.category {
			height: 28px;
			height: 2.8rem;
		}
	}
	.choice-info {
		color: $choice-color;
		padding: 5px;
		padding: 0.5rem;
	}
}

/* main news section */
.newsLoader {
	@include flex-display;
	align-items: center;
	.ajax-loader {
		text-align: center;
		margin: 10px auto;
		margin: 1rem auto;
		width: 30px;
		width: 3rem;
	}
}

.stories {
	display: grid;
	grid-template-columns: auto;

	@include tablet {
		grid-template-columns: auto auto auto;
	}

	@include pc {
		grid-template-columns: auto auto auto auto;
	}

	.search-result {
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;
		color:white;
		height: 50vh;
		background-position: center;
	}
}

figcaption {
	font-size: 15px;
	font-size: 1.5rem;
	background: none;
	color: $choice-color;
	font-weight: bold;
	padding: 5px;
	padding: 0.5rem;
	bottom: 0;
	text-align: left;
	position: absolute;
	word-wrap: break-word;
	@include pc {
		opacity: 0;
		transition: opacity 700ms ease-in;
		&:hover {
			background-color: $headerBg-color;
			opacity: 1;
		}
	}
}

// footer section

.footer {
	@include flex-display;
	@include pc {
		font-size: $ft-size;
		padding-left: 20px;
		justify-content: left;
	}
	align-items: center;
	text-align: center;
	background: $headerBg-color;
	color: $ft-color;
	font-size: 10px;
	font-size: 1rem;
	height: 50px;
	height: 5rem;
	.read-more:before {
		content: '\00A9';
	}
}
